
/* shared style */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;


}
body{
    width: 1920px;
height: 1322px;
}
.btn-primary{
    border: none;
    border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
padding: 20px 25px;
}
/* nav section */

.header{

    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 3rem;
   
    color: #131313;

    font-weight: 700;
}
.nav > ul{
    display: flex;

}
.nav li{
    list-style: none;
    margin-left: 20px;
}
.nav li a{
    text-decoration: none;
    font-size: 1rem;
    color: #424242;

}

/* banner */
.banner-content{
margin: 115px 290px 45px 290px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.banner-text{
    color:#131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description{
  
    color:  #727272;
font-size: 16px;
font-weight: 400;
text-align: center;
 
}




.hero-image{
    width: 100%;
    padding-bottom: 50px;
}
/* quick list section */
.quick-list-section{
    
}

